body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    padding: 0;
    margin: 0;
}

.header,
.main,
.footer {
        background-color: #1F2937;
}

.header,
.main{
    display: flex;
    padding: 16px;
}

h1,
p,
button {
    margin: 8px;
}

button,
.call-to-action button {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #FFF;
    border-radius:12px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    align-items: center;
}

.logo img {
    width: 75px
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
}

.image img {
    width: 600px;
    margin-left: 36px;
}

/* Information section */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 72px;
}

.cards {
    display: flex;
    gap: 8px;
}

.card {
    border: #3882F6 solid 2px;
    width: 175px;
    height: 120px;
}

/* Quote section */

.quote {
    background-color: #e5e7eb; 
    padding: 20px 200px; 
}

.quote .quote-text {
    color: #1F2937 ;
    font-size: 36px;
    font-weight: 300;
    padding: 0 72px;
}

.quote > p {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    padding-left: 220px;
}

.call-to-action {
    background-color: #3882F6;
    color: #FFF;
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 20px 272px;
}

.call-to-action p {
    margin-left: 0;
    margin-top: -20px;
    font-size: 16px;
}

.call-to-action button {
    flex-grow: 0;
    height: 50px;
}

.footer p{
    text-align: center;
    padding: 16px;
    font-size: 16px;
}