.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}