body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    padding: 0;
    margin: 0;
}

.header,
.main,
.footer {
        background-color: #1F2937;
}

.header,
.main {
    display: flex;
    padding: 16px;
}

h1,
p,
button {
    margin: 8px;
}

button {
    padding: 8px 16px;
    background-color: #3882F6;
    color: #FFF;
    border-radius: 25px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    align-items: center;
}

.logo img {
    width: 75px
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
}

.image img {
    width: 600px;
    margin-left: 36px;
}