body {
    display: flex;
    flex-direction: column;
    padding: 0 180px;
    font-family: 'roboto';
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;

}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
}